.fz-container { width: 640px; height: 480px; background-color: white; }
.fz-webview { width: 640px; height: 480px; display: none; }
.fz-title {}
.fz-data {}
.fz-row {}
.fz-show-0 { text-align: right; }
.fz-show-1 { padding-left: 10px; }
.fz-last-updated {}
.fz-error { color: red; font-weight: bold; }
